body{
  margin: 0px;
  padding:0px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  width: 1578px;
  height: 719px;
  margin-left: auto;
  margin-right: auto;
}



.header-logo{
  margin-bottom: -50px;
  margin-left: -250px;
}



.header-list{
  display:flex;
  align-items: center;
  justify-content:center ;
}

.header-list-item{
  margin-right: 29px;
}


.header-list-item-decoration-black{
  width: 700px;
  font-size: 18px;
  line-height: 22.59px;
  font-family: 'Mulish';
}




.header-list-item-decoration{
  width: 400px;
  font-size: 18px;
  line-height: 22.59px;
  font-family: 'Mulish';
  color: gray;
}

.header-top{
  display: flex;
  align-self: center;
  margin-top: 150px;
  margin-left: -250px;
}

.header-top-display{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.header-top-illustration{
  margin-left: 50px;
}

.header-top-Virtual{
  width: 700px;
  font-family: 'Mulish';
  font-size: 48px;
}

.header-top-info{
  width: 300px;
  font-family: 'Mulish';
  font-size: 21px;
  color: gray;
}

.header-top-submit__today{
  width: 200px;
  height: 56px;
  background-color: #458FF6;
  border-radius: 55px;
  border: none;


  color: aliceblue;
  font-size: 21px;
  margin-top: 20px;
}

